<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/security 
                      http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<context:property-placeholder location="classpath:*.properties" />

	<!--			Interfaces   			-->

	<bean id="paisService" class="com.pdvsa.psp.service.IPaisService"
		factory-bean="clientFactoryPais" factory-method="create" />

	<bean id="clientFactoryPais" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IPaisService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/pais/ManagePaisService" />
	</bean>

	<bean id="tanqueService" class="com.pdvsa.psp.service.ITanqueService"
		factory-bean="clientFactoryTanque" factory-method="create" />

	<bean id="clientFactoryTanque" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.ITanqueService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/tanque/ManageTanqueService" />
	</bean>


	<bean id="regionService" class="com.pdvsa.psp.service.IRegionService"
		factory-bean="clientFactoryRegion" factory-method="create" />

	<bean id="clientFactoryRegion" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IRegionService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/region/ManageRegionService" />
	</bean>


	<bean id="servidorService" class="com.pdvsa.psp.service.IServidorService"
		factory-bean="clientFactoryServidor" factory-method="create" />

	<bean id="clientFactoryServidor" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IServidorService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/servidoropc/ManageServidorOpcService" />
	</bean>

	<bean id="localidadService" class="com.pdvsa.psp.service.ILocalidadService"
		factory-bean="clientFactoryLocalidad" factory-method="create" />

	<bean id="clientFactoryLocalidad" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.ILocalidadService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/localidad/ManageLocalidadService" />
	</bean>


	<bean id="grupoService" class="com.pdvsa.psp.service.IGrupoService"
		factory-bean="clientFactoryGrupo" factory-method="create" />

	<bean id="clientFactoryGrupo" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IGrupoService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/grupo/ManageGrupoService" />
	</bean>

	<bean id="rolService" class="com.pdvsa.psp.service.IRolService"
		factory-bean="clientFactoryRol" factory-method="create" />

	<bean id="clientFactoryRol" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IRolService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/rol/ManageRolService" />
	</bean>


	<bean id="itemService" class="com.pdvsa.psp.service.IItemService"
		factory-bean="clientFactoryItem" factory-method="create" />

	<bean id="clientFactoryItem" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IItemService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/itemopc/ManageItemService" />
	</bean>

	<bean id="productoService" class="com.pdvsa.psp.service.IProductoService"
		factory-bean="clientFactoryProducto" factory-method="create" />

	<bean id="clientFactoryProducto" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IProductoService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/producto/ManageProductoService" />
	</bean>

	<bean id="unidadMedidaService" class="com.pdvsa.psp.service.IUnidadMedidaService"
		factory-bean="clientFactoryUnidadMedida" factory-method="create" />

	<bean id="clientFactoryUnidadMedida" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IUnidadMedidaService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/unidadmedida/ManageUnidadMedidaService" />
	</bean>

	<bean id="userService" class="com.pdvsa.psp.service.IUserService" scope="prototype"
		factory-bean="clientFactoryUser" factory-method="create" />

	<bean id="clientFactoryUser" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean" scope="prototype">
		<property name="serviceClass" value="com.pdvsa.psp.service.IUserService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/usuario/ManageUsuarioService" />
	</bean>

	<!-- Este Servicio NO Se encuentra disponible a Nivel Region y Pais -->
	<bean id="opcInfoService" class="com.pdvsa.psp.service.IOpcControllerService"
		factory-bean="opcInfoFactory" factory-method="create" />

	<bean id="opcInfoFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.IOpcControllerService" />
		<property name="address"
			value="http://${ws-address}:${ws-port}${ws-pathBase}/opcinfo/ManageOpcInfoRegisterService" />
	</bean>
	
	<bean id="securityService" class="com.pdvsa.psp.service.ISecurityService"
		factory-bean="securityFactory" factory-method="create" />

	<bean id="securityFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.pdvsa.psp.service.ISecurityService" />
		<property name="address" value="http://${ws-address}:${ws-port}${ws-pathBase}/security/ManageSecurityService" />
	</bean>
	
	<bean id="importarArchivo" class="com.obelisco.herramientas.ImportarArchivo">
		<property name="rutaFormato" value="${reporteOpcModbus}"/>
	</bean>
	
	
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
                    <property name="marshaller" ref="jaxbMarshaller"/>
                    <property name="unmarshaller" ref="jaxbMarshaller"/>
                </bean>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes" value="text/plain" />
                </bean>
            </list>
        </property>
    </bean>
    
	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
    	<property name="classesToBeBound">
    		<list>
    		    <value>com.pdvsa.psp.model.xml.OpcItemsTransfer</value>
    			<value>com.pdvsa.psp.model.xml.PageLoggerResponse</value>    			
    			<value>com.pdvsa.psp.model.xml.PageOpcInfoResponse</value>
    		</list>
    	</property>
    </bean>
    
	<bean id="servicioMongo" class="com.obelisco.modelo.servicios.rest.impl.ServicioMongo">
	    <property name="restTemplate" ref="restTemplate"></property>
		<property name="address" value="http://${rest-address}:${rest-port}${rest-pathBase}" />	    
	</bean>

</beans>


