<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="${mongo.user}" />
		<constructor-arg name="password" value="${mongo.password}" />
	</bean>

	<bean class="com.mongodb.Mongo" id="mongo">
		<constructor-arg name="host" value="${mongo.host}" />
		<constructor-arg name="port" value="${mongo.port}" />
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="${mongo.database}" />
		<constructor-arg name="userCredentials" ref="mongoCredentials" />
	</bean>

	<!-- PSP DATAQUERY -->
	<bean id="mongoQueryHistoricRest" class="com.pdvsa.psp.mule.rest.MongoQueryHistoricRest">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="mongoQueryLogRest" class="com.pdvsa.psp.mule.rest.MongoQueryLogRest">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>

	<!-- PSP DATATRANSMIT -->
	<bean id="mongoFindItemsToTransferComponent"
		class="com.pdvsa.psp.mule.component.MongoFindItemsToTransferComponent">
		<property name="mongoTemplate" ref="mongoTemplate" />
		<property name="maxElements" value="${psp.maxElementsToTransfer}" />
	</bean>

	<!-- PSP DATARECEIVED -->
	<bean id="mongoSaveHistoricItemsComponent"
		class="com.pdvsa.psp.mule.component.MongoSaveHistoricItemsComponent">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>

	<bean id="mongoRemoveTransferedItemsComponent"
		class="com.pdvsa.psp.mule.component.MongoRemoveTransferedItemsComponent">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>

	<bean id="mongoInsertItemToTransferComponent" class="com.pdvsa.psp.mule.component.MongoInsertItemToTransferComponent">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>
	
	<!-- PSP LOG -->

	<bean id="mongoInsertLogComponent" class="com.pdvsa.psp.mule.component.MongoInsertLogComponent">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>


</beans>
